<!-- <div *ngFor="let user of this.detalleMoneda ">
    {{user.name}}
</div>


{{ola}} -->
<!-- 
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <button [routerLink]="['/privateFovourites']">Volver</button>
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <img src="{{detalleMoneda.image.large}}" alt="">
      <h1 class="display-4 fw-normal">{{detalleMoneda.name}}</h1>
      <p class="lead fw-normal">{{detalleMoneda.description.en}}</p>
      {{detalleMoneda.genesis_date | date: 'dd/MM/yyyy'}}
      <a href="https://twitter.com/{{detalleMoneda.links.twitter_screen_name}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="{{detalleMoneda.links.repos_url.github[0]}}"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="{{detalleMoneda.links.homepage[0]}}"><i class="fa fa-home" aria-hidden="true"></i></a>
      
      
      <a class="btn btn-outline-secondary" href="#">{{detalleMoneda.market_data.price_change_24h}}</a>
      
    </div>
    
    <div class="product-device shadow-sm d-none d-md-block">
      <div>
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}" (chartInstance)="getChartInstance($event)"></canvasjs-chart>
      </div>   
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div> -->

  <div id="container">  
        <div class="product-details">
    <h1>{{detalleMoneda.name}}</h1>
      <span class="hint-star star">
      </span>
        <p class="information">{{detalleMoneda.description.en}}</p>
    <div class="control">
    </div>  
    </div>      
    <div class="product-image">
      
      <img src="{{detalleMoneda.image.large}}" alt="Omar Dsoky">
          <div class="info">
      <h2>Más informacion</h2>
      <ul>
          <li><strong>Fecha de creacion: </strong>{{detalleMoneda.genesis_date | date: 'dd/MM/yyyy'}}</li>
          <hr>
          <li><strong>Pagina principal: </strong><a href="{{detalleMoneda.links.homepage[0]}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
          <li><strong>Twitter: </strong><a href="https://twitter.com/{{detalleMoneda.links.twitter_screen_name}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><strong>Git hub: </strong><a href="{{detalleMoneda.links.repos_url.github[0]}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block">
      <div>
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}" (chartInstance)="getChartInstance($event)"></canvasjs-chart>
      </div>   
    </div>