<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DVA Crypto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" [routerLink]="['/monedasAll']">Monedas(Listado)</a>
          </li>
          <li class="nav-item" *ngIf="this.Usuario.estaLogueado">
            <a class="nav-link active" aria-current="page" [routerLink]="['/privateFovourites']" (click)="ola()">Favoritos</a>
          </li>
          <li class="nav-item" *ngIf="!this.Usuario.estaLogueado">
            <a  class="nav-link active" aria-current="page" [routerLink]="['/login']">Inicio sesion/Registro</a>
          </li>
          <li class="nav-item" *ngIf="this.Usuario.estaLogueado">
            <a class="nav-link active" aria-current="page" (click)="cerrarSesion()" [routerLink]="['']">Salir ({{this.Usuario.emailUser}})</a>           
          </li>
        </ul>
        <div class="d-flex">
          <img src="../../assets/img/a64b44f382424c60acb9ae558a6af30b-removebg-preview.png" style="height: 70px;" alt="">
        </div>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  
<!-- <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="datosAPI.listaMonedas.length">
</ngb-pagination>

  <table>
    <tr *ngFor="let item of datosAPI.listaMonedas | slice: (page-1) * pageSize : page * pageSize">
      <td (click)="anadirFavoritos(item.id, item.image.thumb)">{{item.name}}</td>
    </tr>
  </table> -->
<!-- <hr> -->
<!-- <button (click)="nuevoDato()">Peticion </button> -->
<!-- {{datosAPI.listaMonedas}} -->
<!-- <div style="display: flex; flex-direction:row;">
    <div *ngFor="let item of datosAPI.listaMonedas"> -->
        <!-- <p (click)="peticionDetalle(item.id)">{{item.id}}</p> -->
        <!-- {{item.name}}
        <img src="{{item.image.small}}" alt="">
    </div>
</div> -->

<!-- <div *ngFor="let user of datosDeBD | async"> -->
    <!-- <p (click)="peticionDetalle(item.id)">{{item.id}}</p> -->
    <!-- {{user.monedaID}} -->
<!-- </div> -->


  
<!-- {{name}}<br><hr>
{{id}}<br><hr>
{{categories}}<br><hr>
{{description}}<br><hr>
<img src="{{image}}" alt=""> -->