<body class="d-flex ola text-center text-bg-dark">
<div class="cover-container ola d-flex w-100  p-3 mx-auto flex-column img">
  
    <main class="px-3">
      <h1>Bienvenido al mundo de las cryptos</h1>
      <p class="lead">Compra y vende más de 50 criptomonedas en DVA Crypto</p>
      <p class="lead">
        <a class="btn btn-lg btn-secondary fw-bold border-white bg-primary" [routerLink]="['/monedasAll']">Ver todas las monedas</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
  </div>

</body>
<!-- 
<section id="hero">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Entrena con Campeones</h5>
          <p class="card-text">DVA Pádel se encuentra enmarcado dentro de un proyecto e iniciativa deportiva centrada
            en uno de los deportes con mayor impacto, auge y seguimiento en la sociedad actual: el pádel.</p>
          <p>En este club tambien se pueden reservar pistas para jugar con amigos. HAZLO YA!</p>
          <a href="#contacta" class="bg-dark boton btn text-light boton">Contacta con nosotros</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section id="sobrenosotros" class="container marketing">
  <h1>Sobre nosotros</h1>
  <div class="row">
    <div class="col-lg-4">
      <title>Placeholder</title>
  <img width="50%"
          height="50%" style="border-radius: 100%;" src="../../assets/img/CAP3.JPG"
          alt="">
      <h2>Deposita fondos en tu cuenta</h2>
      <p>Añade fondos a tu cuenta de criptomonedas para comenzar a operar. Puedes añadir fondos a través de distintos métodos de pago.</p>
      <button type="button" class="bg-dark boton btn btn-secondary" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Más información &raquo;
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cifrado de datos avanzado
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/CAP6.JPG" style="width: 80%;">
              <hr>
              <p>Los datos de tus transacciones se protegen mediante un cifrado de extremo a extremo, lo que garantiza que solo tú tengas acceso a tu información personal.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <title>Placeholder</title>
<img width="50%"
          height="50%" style="border-radius: 100%;" src="../../assets/img/CAP4.JPG"
          alt="">
      <h2>Verifica tu identidad
      </h2>
      <p>Completa el proceso de verificación de identidad para proteger tu cuenta y tus transacciones y descubre todos los productos de Binance.</p>
      <button type="button" class="bg-dark btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Más información &raquo;
      </button>
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Fondo de activos seguro para usuarios (SAFU)</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img
                src="../../assets/img/CAP6.JPG"
                style="width: 80%;">
              <hr>
              <p>Binance almacena el 10 % de todas las comisiones de trading en un fondo de activos seguro para proteger una parte de los fondos de los usuarios.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <title>Placeholder</title>
<img width="50%"
          height="50%" style="border-radius: 100%;" src="../../assets/img/CAP5.JPG" alt="">

      <h2>Empieza a operar
      </h2>
      <p>¡Ya lo tienes todo listo! Compra y vende criptomonedas, establece compras recurrentes para tus inversiones y descubre todos los productos de Binance.
      </p>
      <button type="button" class="bg-dark btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Más información &raquo;
      </button>
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Control de acceso personalizado
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img
                src="../../assets/img/CAP6.JPG"
                style="width: 80%;">
              <hr>
              <p>Los controles de acceso personalizados te permiten limitar los dispositivos y las direcciones que pueden acceder a tu cuenta para brindarte una mayor tranquilidad.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" id="nuestrosexpertosdicen">Gana criptomonedas gratis <span class="text-muted">mientras aprendes</span>
      </h2>
      <p class="lead">Mejora tus conocimientos sobre la cadena de bloques, completa cuestionarios y gana criptomonedas gratis.1. Inicia sesión en tu cuenta de Binance y visita la página principal de [Aprende y gana] en Binance Academy. Verás una lista de los cursos disponibles y la cantidad de recompensas de criptomonedas que puedes ganar después de completar el curso.2. Selecciona un curso y haz clic en [Empezar curso]. Sigue las instrucciones para aprender y completar el test. Si apruebas el test, recibirás un cupón de tokens como recompensa. 
        3. Para consultar la distribución de recompensas, ve a [Historial de recompensas]. Ten en cuenta que las recompensas se distribuirán en un plazo de 48 horas si apruebas el test y cumples los requisitos de esta campaña.
</p>
    </div>
    <div class="col-md-5">
      <img width="500" height="500"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="../../assets/img/CAP2.JPG" alt="">
      <title>Placeholder</title>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2" id="loqueofrecemos">
      <h2 class="featurette-heading" id="nuestrosexpertosdicen">Gana criptomonedas gratis <span class="text-muted">mientras aprendes</span>
      </h2>            <p class="lead">Mejora tus conocimientos sobre la cadena de bloques, completa cuestionarios y gana criptomonedas gratis.1. Inicia sesión en tu cuenta de Binance y visita la página principal de [Aprende y gana] en Binance Academy. Verás una lista de los cursos disponibles y la cantidad de recompensas de criptomonedas que puedes ganar después de completar el curso.2. Selecciona un curso y haz clic en [Empezar curso]. Sigue las instrucciones para aprender y completar el test. Si apruebas el test, recibirás un cupón de tokens como recompensa. 
        3. Para consultar la distribución de recompensas, ve a [Historial de recompensas]. Ten en cuenta que las recompensas se distribuirán en un plazo de 48 horas si apruebas el test y cumples los requisitos de esta campaña.
</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img width="500" height="500"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="../../assets/img/CAP1.JPG" alt="">
      <title>Placeholder</title>

    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette" id="contacta">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contacta</h2>
    <p class="text-center w-responsive mx-auto mb-5">¿Tiene usted alguna pregunta? Por favor, no dude en contactarnos
      directamente. Nuestro equipo se comunicará contigo en cuestión de horas para ayudarte.</p>
    <div class="col-md-11 mb-md-0 mb-5" style="width: 100%;">
      <form id="contact-form" name="contact-form" action="mail.php" method="POST">
        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <label for="name" class="">Tu nombre</label>
              <input placeholder="Introduzca el nombre" type="text" id="name" name="name" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form mb-0">
              <label for="email" class="">Tu email</label>
              <input placeholder="ejemplo@gmail.com" type="text" id="email" name="email" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <div class="md-form">
              <label for="message">Tu mensaje</label>
              <textarea placeholder="Comentanos..." type="text" id="message" name="message" rows="2"
                class="form-control md-textarea"></textarea>
            </div>

          </div>
        </div>
      </form>
      <div class="text-center text-md-left">
        <a class="btn text-light col-12 bg-dark" style="margin-top: 3%">Enviar</a>
      </div>
      <div class="status"></div>
    </div>
  </div>

</section>